h1 {
  color:green;
}

.link {
  color:green;
  font-size:50px;
}

.moving{
  transition: margin-left 1s;
}

.left{
  position:absolute;
  margin-left:-1%;
}
.right{
  margin-left:88%;
}

.row{
  height:215px;
}


